body,
html {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  width: 100vw;
  height: 100%;
  display: block;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#info-box {
  position: absolute;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.75); /*change to black upon loading of panorama images*/
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#client-logo {
  width: 12.5em; /* Adjust the width as needed */
  max-width: 200px;
  height: auto;
  margin: auto;
}

hr {
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255,255,255);
  font-size: 1.25em;
  line-height: 1.25; /* Adjust this value as needed, can be less than 1 for tighter line spacing */
  text-align: left;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0,0,0);
  font-size: 1.5em;
  line-height: 1.25; /* Adjust this value as needed, can be less than 1 for tighter line spacing */
  text-align: left;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0,0,0);
  font-size: 1em;
  line-height: 1.25; /* Adjust this value as needed, can be less than 1 for tighter line spacing */
  text-align: left;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

p {
  color: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5; /* Adjust this value as needed */
  text-align: left;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

a {
  color: rgb(0,0,0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5; /* Adjust this value as needed */
  text-align: left;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  white-space: normal; /* Override the nowrapping rule from above */
  overflow: visible; /* Allow the link to be fully visible */
  text-overflow: clip;
}

button {
  width: 2em;
  height: 2em;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00d4e8;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 1em;
}

#button-container {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1; /* High z-index to ensure visibility */
}

#fullscreen-button, 
#moa-button,
#share-button,
#vr-button {
  margin-top: 0.5em;
}

.modal {
  display: none; /* Keep modal hidden initially */
  position: fixed; /* Use fixed positioning */
  z-index: 2; /* Ensure it's on top of other content */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Semi-transparent background */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: #fefefe;
  margin: auto; /* Helps with centering in some scenarios */
  padding: 2.5%;
  width: 85%; /* Adjust based on your preference */
  max-width: 600px; /* Prevents the modal from becoming too wide */
  box-shadow: 0 0.5em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.75em 0.75em 0 rgba(0, 0, 0, 0.19); /* Adds depth with shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.close-button {
  color: black;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2em;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #00d4e8;
  text-decoration: none;
  cursor: pointer;
}

.modal-content a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  border-radius: 50%;
  background-color: #000; /* Black background for icons */
  margin: 0.5em 0.5em; /* Spacing between icons */
  color: white; /* Icon color */
  text-decoration: none; /* Removes underline */
}

.modal-content i {
  font-size: 2em; /* Adjust icon size as needed */
}

.modal-content a:hover {
  background-color: #00d4e8; /* Darker shade on hover */
}

.share-icons-container {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  flex-wrap: wrap; /* Allow icons to wrap on small screens */
  margin-top: 2.5%; /* Add some space above the icons */
}

.contact-rep {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.rep-image {
  width: 8em; /* Adjust based on your needs */
  max-width: 20vw;
  border-radius: 50%; /* Creates circular images */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  margin-right: 20px; /* Space between image and info container */
}

.rep-info h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25em; /* Adjust size as needed */
}

.rep-info p {
  color: black;
  display: flex; /* Makes the <p> a flex container */
  flex-wrap: wrap; /* Allows content to wrap */
  align-items: center;
  margin: 5px 0; /* Consistent margin for all elements */
  line-height: 1.5;
}

.rep-info {
  flex: 1; /* Take up the remaining space */
}

.rep-info p,
.rep-info a {
  margin: 5px 0; /* Consistent margin for all elements */
  padding: 0;
  color: black; /* Color for paragraphs */
}

.rep-info a {
  background-color: transparent; /* Ensures no background color */
  border-radius: 0; /* Removes border radius */
  color: black; /* Adjust link color to fit your design */
  cursor: pointer; /* Indicates a clickable link */
  justify-content: left;
  height: inherit;
  margin: 0;
  color: inherit; /* Inherits the text color from .rep-info p */
  font-size: inherit; /* Inherits the font size from .rep-info p */
  line-height: inherit; /* Inherits the line height from .rep-info p */
  text-decoration: none; /* Removes underline */
  transition: color 0.3s; /* Smooth transition for color changes */
}

.rep-info a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
  color: #00d4e8; /* Slightly darker color on hover for contrast */
  background-color: transparent; /* Ensures no background color */
}

.label {
  font-weight: bold; /* Make labels bold */
  margin-right: 5px; /* Space after the label */
}
