body, html {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  height: 100%;
  display: block;
  background: black;
}
#three-canvas {
  height: 100%;
  width: 100%;
}

#scene-container script {
  width: 100%;
  height: 100%;
  /* Other styles */
}

#main-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  z-index: 1;
}

#scene-container {
  position: absolute; /* Change to relative positioning */
  width: 100%; /* Ensure it takes full width of its parent */
  height: 100%; /* Ensure it takes full height of its parent */
}

#info-box {
  position: absolute;
  margin: 0.5em;
  padding: 0.75em;
  background-color: rgba(255,255,255,0.85);
  border-radius: 0.4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#client-logo {
  width: 4.5em;
  max-width: 175px;
  height: auto;
  margin: auto;
  margin-left: 0; /* Aligns the logo to the left by removing auto margin */
  margin-right: 15px;
  align-self: flex-start;
}

#client-name  {
  text-transform: uppercase;
  opacity: 0.75;
  color: #000;
  font-size: 13px;
}

#project-name  {
  text-transform: capitalize;
  color: #000;
  font-size: 20px;
}

hr {
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0,0,0);
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0,0,0);
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0,0,0);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0,0,0);
  font-size: 0.5em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

p {
  color: rgb(0,0,0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0,0,0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
  white-space: normal; /* Override the nowrapping rule from above */
  overflow: visible;
  text-overflow: clip;
}

button {
  width: 2em;
  height: 2em;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00d4e8;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-top: 0.5em;
  transition: opacity 0.1s ease, height 0.1s ease, transform 0.1s ease, font-size 0.1s ease, visibility 0.1s;
}

button:hover  {
  opacity: 0.5;
  transform: translateY(2px);
}

#button-container {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10 !important;
  background-color: rgba(255,255,255,0.85);
  padding: 0.25em;
  border-radius: 0.4em;
  align-items: center;
  transition: opacity 0.1s ease, height 0.1s ease, visibility 0.1s;
  z-index: 1500;
}

#collapse-button  {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
  transform: rotate(0deg);
}

#menu-button  {
  z-index: 1500;
}

.modal {
  visibility: hidden; /* Initially hidden */
  opacity: 0; /* Fully transparent */
  position: fixed;
  z-index: 2; /* Above the main container, below the buttons */
  right: 0;
  top: 0;
  width: 20%; /* Modal width */
  min-width: 450px;
  height: 100%; /* Full height */
  background-color: rgb(255, 255, 255);
  overflow-y: auto; /* Scrollable content */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  transform: translateX(100%); /* Initially off-screen to the right */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Delay visibility transition */
}

.modal.show {
  visibility: visible; /* Make visible */
  opacity: 1; /* Fully opaque */
  transform: translateX(0%); /* Slide in from the right */
  display: flex; /* Flex ensures content is laid out properly */
  flex-direction: column; /* Aligns children vertically */
  align-items: flex-end; /* Align modal to the right */
  transition-delay: 0s; /* Remove delay when showing the modal */
  overflow-y: visible;
}

.modal-content {
  margin: 5%;
  padding: 3%;
  width: 90%; /* Adjust width to prevent overflow, considering padding and margin */
  height: 100%;
  max-width: 100%; /* Ensure it does not exceed the modal width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  word-wrap: break-word; /* Ensures that words do not overflow the container */
  overflow-x: hidden; /* Additional precaution to hide any accidental horizontal overflow */
}

.modal-content h3 {
  font-weight: 300;
  color:#FFF;
  font-size: 16px;
}

.modal-content p {
  line-height: 1.5;
  color:#000;
}

.close-modal  {
  color: #00d4e8 !important;
}

.about {
  padding: 10px 0px;
  font-size: 14px !important;
  opacity: 0.75;
}

.about p {
  line-height: 2;
}

.title-container  {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3.5em;
}

.header-icon  {
  margin-right: 15px;
  font-size: 1.4em !important;
}

.modal-content a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  padding: 0.5em;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  color: white;
  text-decoration: none;
  transition: 0.1s all ease-in-out;
}

.modal-content a:hover {
  background-image: linear-gradient(#00debb, #00d4e8);
  transform: translateY(2px);
}

.modal-content i {
  font-size: 1.5em; /* Size of Icons*/
  color: black;
}

.modal-icon  {
  color: white !important;
}

.share-icons-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 2.55%;
  margin-bottom: 2.5%;
}

.contact-rep {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.rep-image {
  width: 8em;
  height: 8em; /* Set a specific height to match the width */
  border-radius: 0.5em;
  object-fit: cover;
}

.rep-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 20px;
}

.rep-info h2, .rep-info h4 {
  color: #000; 
  margin: 0;
  padding: 0;
}

.rep-info h4  {
  font-size: 15px;
  margin: 0.3em 0;
}

.rep-info a {
  background-color: transparent;
  border-radius: 0;
  color: black;
  cursor: pointer;
  justify-content: left;
  height: inherit;
  margin: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.rep-contact-icon-contain  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rep-icon  {
  font-size: 1.1em !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: 0.1s all ease-in-out;
}

.rep-icon-contain  {
  margin: 0 !important;
  padding: 7px !important;
  width: 1.25em !important;
  height: 1.25em !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  transition: 0.1s all ease-in-out !important;
  border-radius: 1.25em !important;
}

.rep-icon-contain:hover  {
  background-image: linear-gradient(#00debb, #00d4e8) !important;
  transform: translateY(2px);
}

.rep-icon-contain:hover .rep-icon  {
  color: white;
}

.label {
  display: flex;
  align-items: center; /* Ensures the label (icon + text) aligns correctly */
}

@media (max-width: 450px) { /* Adjust this breakpoint based on the devices you're targeting */
  .modal {
    width: 100%;
    display: flex; /* Flex ensures content is laid out properly */
    flex-direction: column; /* Aligns children vertically */
    align-items: center /* Align modal to the right */
  }

  .main-content {
    width: 100vw !important; /* Ensure it takes full width of its parent */
  }

  .modal-content {
    font-size: 0.9em; /* Smaller font size for smaller screens */
    padding: 10%; /* Reduced padding */
  }

  .modal-content h3, .modal-content h2, .modal-content h4 {
    font-size: 16px; /* Slightly larger font for headings */
  }

  .modal-content p, .rep-info p, .about p {
    font-size: 10px; /* Ensure text is not too small */
    line-height: 1.4; /* Increase line height for better readability */
  }

  .modal-content a {
    font-size: 10px; /* Adjust link font size to fit smaller layout */
  }

  .rep-image {
    width: 6em; /* Reduce image size to fit the modal */
    height: 6em; /* Maintain aspect ratio */
  }

  .contact-rep {
    flex-direction: row; /* Stack image and information vertically */
    align-items: start; /* Center-align the contents */
  }

  .rep-info {
    padding-top: 10px; /* Provide some space above the text */
  }

  .dropdown-content a {
    font-size: 10px;
  }

  .close-modal-button {
    display: block !important; /* Show button on mobile */
  }
}

#design-options-container, #floorplan-options-container {
  display: flex; /* Use flexbox to align children inline */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between;
  position: relative;
  padding: 1em; /* Add some vertical padding for spacing */
  margin-top: 1em; /* Adjust top margin to lower the element if it's too high */
  background-color: #000;
  border-radius: 0.75em;
}

#design-options-trigger, #floorplan-options-trigger {
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 1.25em;
  margin: 0;
  font-size: 0.45em;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevents the button from shrinking */
  transition: transform 0.3s ease;
}

.option-header-contain  {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.option-button:hover  {
  opacity: 1 !important;
}

.option-icon  {
  color: #FFF !important;
  font-size: 1em !important;
  margin-right: 10px;
}

#design-options-trigger.rotate-icon, #floorplan-options-trigger.rotate-icon {
  transform: rotate(45deg); /* Rotates the icon 90 degrees */
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0; /* Align the dropdown to start with the container */
  top: 100%; /* Start the dropdown right below the container */
  width: 100%; /* Full width of the container */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  justify-content: center;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0px); /* Moves to original position */
}

.dropdown-content button {
  color: rgb(0,0,0,0) !important;
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 12px;
  padding: 1em;
  text-align: left;
  background-color: rgb(0,0,0,1) !important;
  margin: 0;
  transform: translateY(-0.75em);
}

.dropdown-content button img {
  display: block; /* Ensure images are not inline */
  width: 95%; /* Full width to utilize the available space */
  height: auto; /* Maintain aspect ratio */
  margin: 0.5em 0em 1.75em 0em !important;
  background-color: #000;
  border-radius: 1em;

}

.dropdown-content button:last-child  {
  border-radius: 0px 0px 0.75em 0.75em !important;
}

.floorplan-item, .design-item  {
  position: relative;
  justify-content: center;
  display: flex;
}

.floorplan-name, .floorplan-size, .design-name  {
  background-image: linear-gradient(#00debb, #00d4e8);
  color: #FFF;
  padding: 4px 7px;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 5px;
}

.floorplan-size  {
  top: 50px;
}

.map-contain  {
  padding: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#00debb, #00d4e8);
  border-radius: 0.7em;
}

.map  {
  border-radius: 0.45em;
}

/* width */
::-webkit-scrollbar {
  width: 0.35em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: calc(0.35em/2);
  border: 3px solid transparent; /* creates padding effect */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00d4e8;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 1em;
  color: white;
  cursor: pointer;
  background-color: white;
}
