body, html {
  position: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  height: 100%;
  display: block;
}

#scene-container {
  position: absolute;
  width: 80vw;  /* Default width */
  height: 100%;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

#scene-container.narrow {
  width: 100vw;  /* Adjusted width when modal is visible */
}

#info-box {
  position: absolute;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#client-logo {
  width: 12.5em;
  max-width: 200px;
  height: auto;
  margin: auto;
}

hr {
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255,255,255);
  font-size: 2em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255,255,255);
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255,255,255);
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255,255,255);
  font-size: 0.5em;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  margin: 0;
  padding: 0;
}

p {
  color: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(0,0,0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
  white-space: normal; /* Override the nowrapping rule from above */
  overflow: visible;
  text-overflow: clip;
}

button {
  width: 2em;
  height: 2em;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00d4e8;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 1em;
  margin-top: 0.5em;
}

#button-container {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.modal {
  display: none; /* Start as hidden */
  position: fixed;
  z-index: 2; /* Above the main container, below the buttons */
  right: 0;
  top: 0;
  width: 20%; /* Modal width */
  min-width:450px;
  height: 100%; /* Full height */
  background-color: rgb(0,0,0);
  overflow-y: auto; /* Scrollable content */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  transition: transform 0.3s ease-out; /* Smooth transition for transform */
  transform: translateX(100%); /* Initially off-screen to the right */
}

.modal.show {
  display: flex; /* Flex ensures content is laid out properly */
  flex-direction: column; /* Aligns children vertically */
  transform: translateX(0); /* Bring into view */
}

.modal-content {
  margin: 5%;
  padding-top: 10%;
  width: 90%; /* Adjust width to prevent overflow, considering padding and margin */
  height: auto;
  max-width: 100%; /* Ensure it does not exceed the modal width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  word-wrap: break-word; /* Ensures that words do not overflow the container */
  overflow-x: hidden; /* Additional precaution to hide any accidental horizontal overflow */
}

.modal-content h3 {
  font-weight: 300;
  color:#fff;
}

.modal-content p {
  line-height: 1.5;
  color:#fff;
}

.about {
  padding-top: 5%;
  padding-bottom: 2.5%;
}

.about p {
  line-height: 2;
}

.modal-content a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: white;
  margin-right: 1em;
  color: black;
  text-decoration: none;
}

.modal-content a:hover {
  background-color: #00d4e8;
}

.modal-content i {
  font-size: 1.5em; /* Size of Icons*/
  color: black;
}

.share-icons-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.contact-rep {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.rep-image {
  width: 8em;
  height: 8em; /* Set a specific height to match the width */
  border-radius: 50%;
  object-fit: cover;
}

.rep-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 20px;
}

.rep-info h2, .rep-info h4 {
  color: #fff;  /* Assuming you want white text */
  margin: 0;
  padding: 0;
}

.rep-info p {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 0;
  line-height: 1.5;
}

.rep-info a {
  background-color: transparent;
  border-radius: 0;
  color: black;
  cursor: pointer;
  justify-content: left;
  height: inherit;
  margin: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.rep-info a:hover {
  text-decoration: underline;
  color: #00d4e8;
  background-color: transparent;
}

.rep-info .icon {
  margin-right: 10px; /* Space between icon and text */
  vertical-align: middle; /* Aligns the icon with the text vertically */
  color: white !important; /* Force the icon color to white and ensure it takes precedence */
}

.label {
  display: flex;
  align-items: center; /* Ensures the label (icon + text) aligns correctly */
}

@media (max-width: 768px) { /* Adjust this breakpoint based on the devices you're targeting */
  .modal {
    width: 85%; /* Adjusts modal to take up 85% of screen */
    right: 7.5%; /* Center modal horizontally */
    left: 7.5%;
  }

  .modal-content {
    font-size: 0.9em; /* Smaller font size for smaller screens */
    padding: 5%; /* Reduced padding */
  }

  .modal-content h3, .modal-content h2, .modal-content h4 {
    font-size: 16px; /* Slightly larger font for headings */
  }

  .modal-content p, .rep-info p, .about p {
    font-size: 14px; /* Ensure text is not too small */
    line-height: 1.4; /* Increase line height for better readability */
  }

  .modal-content a {
    font-size: 12px; /* Adjust link font size to fit smaller layout */
  }

  .rep-image {
    width: 6em; /* Reduce image size to fit the modal */
    height: 6em; /* Maintain aspect ratio */
  }

  .contact-rep {
    flex-direction: row; /* Stack image and information vertically */
    align-items: start; /* Center-align the contents */
  }

  .rep-info {
    padding-top: 10px; /* Provide some space above the text */
  }
}
